body {
    background-color: #ffffe4;
}

#area-connection {
    position: relative;
    min-height: 514px;
}

#area-background {
    background-color: #a2cac8;
    transform: rotate(-19deg);
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    top: 54px;
    left: 35%;
    z-index: 1;
}

#area-form {
    width: 400px;
    height: 400px;
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 35%;
    top: 20%;
}

#area-form h1 {
    margin-bottom: 0px;
}

#area-form h2 {
    margin: 0px;
}

#area-form form {
    margin-top: 0.5em;
}

#area-form .formulaire {
    width: 100%;
}

#area-form .formulaire .cellule.intitule {
    vertical-align: middle;
}

@media(max-width: 1024px) {
    #area-connection {
        min-height: 0px;
    }
    #area-background {
        display: none;
    }
    #area-form {
        width: 100%;
        position: relative;
        left: 0px;
        height: auto;
    }
    #area-form input {
        width: 90%;
    }
    #area-form input#bouton_valider {
        padding: 1.5em;
        height: auto;
    }
    #area-form h1, #area-form h2 {
        background-color: #a2cac8;
    }
}