header, footer, #logo, gestion_enfant
{
	display: none;
}

h2
{
	text-align: center;
}

.donnees
{
	font-family: "DejaVu Sans Mono";
}

#logo_asso_fiche
{
	background-color: white;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	float: right;
	border-left: 1px solid black;
}

#cadre_haut
{
	border: 1px solid black;
	height: 105px;
}

#cadre_bas
{
	font-size: 9px;
	color: grey;
}

.cadre_info
{
	margin-top: 1px;
	margin-bottom: 1px;
}

.cadre_info + .cadre_info
{
	border-top: 1px solid black;
}

#infos_admin_adherent
{
	border-top: 1px solid black;
	vertical-align: bottom;
}

strong
{
	font-weight: bold;
}