body
{
    margin: 0px;
}

section
{
    display: flex;
}

footer
{
    position: fixed;
    background: white;
}

header
{
    background-color: #a2cac8;
    right: 0px;
    left: 0px;
    padding-top: 8px;
    padding-left: 8px;
    height: 120px;
}

header nav
{
    padding-left: 28px;
    top: 93px;
}

footer
{
    width: 13%;
}

nav#panneau_page
{
    margin-right: 3px;
    width: 15%;
    background: white;
}

nav#panneau_page h2
{
    margin: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 21px;
}

nav#panneau_page h2 > a
{
    color: black;
}

nav#panneau_page p
{
    margin: 0px;
    padding-right: 10%;
}

#cadre_stockage
{
    width: 84.5%;
    height: 80%;
    overflow:auto;
}

#cadre_stockage table
{
    width: 100%;
    height: 0%;
}
