#nouveau_mouvement_date, #nouveau_mouvement_nom
{
    width: 90%;
}

#nouveau_mouvement_credit, #nouveau_mouvement_debit
{
    text-align: right;
    text-align: end;
}

table.mouvement td:nth-last-child(3), table.mouvement td:nth-last-child(2)
{
	text-align: right;
	text-align: end;
}

#nouveau_mouvement_sauvegarder, .sauvegarder-modifications, .supprimer-mouvement, #nouveau_mouvement_categories_liste li, .categories_liste_modification li, .modifier-etiquettes img
{
    cursor: pointer;
}

li.modifier-etiquettes
{
    visibility: hidden;
}

td:hover li.modifier-etiquettes
{
    visibility: visible;
}

.cellule-date
{
    width: 12%;
}

.cellule-credit, .cellule-debit, .cellule-solde
{
    width: 7%;
}

.cellule-label, .cellule-etiquettes
{
    width: 35%;
}

table.mouvement input
{
    width: 100%;
}
